*.DS_Store
*.exe
*.out
*.dSYM
*.s
.idea
.vscode
venv/
/wyniki
odp_4a.txt
odp_4b.txt
wynik4.txt
wynik41.txt
wynik42.txt
wynik43.txt
wynik44.txt
wyniki_6_1.txt
wyniki_6_.txt
wyniki_6_3.txt
wyniki_4_1.txt
wyniki_4_2.txt
wynik4a.txt
wynik4b.txt
wynik4c.txt